@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'daisyui/dist/full.css';

.header nav{
  list-style: none;
  display: inline-block;
  margin: 30px; /* add spacing between items */
}

.header a {
  padding: 10px;
  margin: 10px;
}

a {
  text-decoration: none;
  color: black;
}

.table{
  margin-top: 40px;
  padding: 40px;
  border: 1px solid black;
  border-collapse: collapse;
}

th{
  border: 1px solid black;
  padding: 10px;
}

td{
  border: 1px solid black;
  padding: 10px;
}

aside.compositionPanel {
  padding: 10px;
  border: 2px solid black;
  float: right;
  min-height: 100px;
  text-align: center;
}
 
.instrumentations {
  display: inline-block;
  vertical-align: top;
}
 
.instruments {
  display: inline-block;
  vertical-align: top;
}
 
.required:after {
  content:" *";
  color:red;
}
 
.clickable {
  cursor: pointer;
}
 
.proceedDialogue {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  z-index: 1000;
}

