.header nav{
  list-style: none;
  display: inline-block;
  margin: 30px; /* add spacing between items */
}

.header a {
  padding: 10px;
  margin: 10px;
}

a {
  text-decoration: none;
  color: black;
}

.table{
  margin-top: 40px;
  padding: 40px;
  border: 1px solid black;
  border-collapse: collapse;
}

th{
  border: 1px solid black;
  padding: 10px;
}

td{
  border: 1px solid black;
  padding: 10px;
}
